h2 {
    text-align: center;
}

.cat-manager {
    display: flex;
    justify-content: space-between;
    margin: 0 2em 0 2em;
}

.new-category-form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    margin: 0;
}

.new-category-form h3 {
    margin: 0 0 1em 0;
}

.new-category-form input {
    margin: 1em;
}

.submit-cat{
    border-radius: 10px;
    margin: auto;
    width: 60%;
}

.edit-delete {
    margin-left: 0.5em;
    font-size: 0.8em;
}


.cat-list-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}